<%= form_tag(controller: "on_boarding", action: "start_playing") do %>
  <% @repositories.each do |repository| %>
  <div class="row">
    <div class="small-1 columns">
      <div class="switch">
        <%= check_box_tag("repositories[#{repository.full_name}]", 'selected', checked: true) %>
        <%= label_tag("repositories[#{repository.full_name}]") %>
      </div>
    </div>
    <div class="small-3 columns">
      <%= link_to(repository.full_name, repository.html_url, class:"expand tiny button github") %>
    </div>
    <div class="small-8 columns">
      <%= repository.description %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="small-8 small-push-2 columns">
      <%= button_to 'Create a webhook for each of these repositories.', users_start_playing_path, class: 'expand large success button' %>
    </div>
  </div>
<% end %>
